@model FilmsApplication.Models.Director

@{
    ViewData["Title"] = "Create";
}

<h1>Create new</h1>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorBirthDay" class="control-label"></label>
                <input asp-for="DirectorBirthDay" class="form-control" />
                <span asp-validation-for="DirectorBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorDeathDay" class="control-label"></label>
                <input asp-for="DirectorDeathDay" class="form-control" />
                <span asp-validation-for="DirectorDeathDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
